/* line 1, app/assets/stylesheets/bundesu_index.scss */
body {
  min-height: 100vh;
  position: relative;
}

/* line 5, app/assets/stylesheets/bundesu_index.scss */
body .bundesu_post_page {
  font-size: 20px;
}

/* line 8, app/assets/stylesheets/bundesu_index.scss */
body .bundesu_post_page .new {
  margin-left: 15px;
}

/* line 13, app/assets/stylesheets/bundesu_index.scss */
body div.post {
  background-color: #f7f7f8;
}

/* line 16, app/assets/stylesheets/bundesu_index.scss */
body div.post div.title {
  margin-top: 40px;
}

/* line 19, app/assets/stylesheets/bundesu_index.scss */
body div.post div.title p.title {
  border-top: double 1px black;
  margin-top: 20px;
  font-size: 20px;
}

/* line 25, app/assets/stylesheets/bundesu_index.scss */
body div.post div.title section.title {
  margin-top: 20px;
  font-size: 15px;
}

/* line 31, app/assets/stylesheets/bundesu_index.scss */
body div.post div.comments {
  margin-top: 25px;
}

/* line 34, app/assets/stylesheets/bundesu_index.scss */
body div.post div.comments p.comments {
  margin-top: 20px;
  font-size: 20px;
}

/* line 39, app/assets/stylesheets/bundesu_index.scss */
body div.post div.comments section.comments {
  margin-top: 20px;
  font-size: 15px;
}

/* line 45, app/assets/stylesheets/bundesu_index.scss */
body div.post div.post_destroy {
  margin-top: 20px;
}

/* line 49, app/assets/stylesheets/bundesu_index.scss */
body div.post .image {
  margin-top: 30px;
}

/* line 52, app/assets/stylesheets/bundesu_index.scss */
body div.post .image section.image img {
  width: 250px;
  height: 200px;
}

/* line 58, app/assets/stylesheets/bundesu_index.scss */
body div.post .user_name {
  margin-top: 40px;
}

@media (max-width: 1000px) {
  /* line 65, app/assets/stylesheets/bundesu_index.scss */
  body {
    min-height: 100vh;
    position: relative;
  }
  /* line 69, app/assets/stylesheets/bundesu_index.scss */
  body .bundesu_post_page {
    font-size: 18px;
  }
  /* line 72, app/assets/stylesheets/bundesu_index.scss */
  body .bundesu_post_page .new {
    margin-left: 15px;
  }
  /* line 77, app/assets/stylesheets/bundesu_index.scss */
  body div.post {
    background-color: #f7f7f8;
    width: 1000px;
  }
  /* line 81, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.title {
    margin-top: 80px;
  }
  /* line 84, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.title p.title {
    border-top: double 1px black;
    margin-top: 20px;
    font-size: 20px;
  }
  /* line 90, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.title section.title {
    margin-top: 20px;
    font-size: 15px;
  }
  /* line 96, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.comments {
    margin-top: 20px;
  }
  /* line 99, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.comments p.comments {
    margin-top: 20px;
    font-size: 20px;
  }
  /* line 104, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.comments section.comments {
    margin-top: 20px;
    font-size: 15px;
  }
  /* line 110, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.post_destroy {
    margin-top: 20px;
  }
  /* line 114, app/assets/stylesheets/bundesu_index.scss */
  body div.post .image {
    margin-top: 30px;
  }
  /* line 117, app/assets/stylesheets/bundesu_index.scss */
  body div.post .image section.image img {
    width: 250px;
    height: 200px;
  }
  /* line 123, app/assets/stylesheets/bundesu_index.scss */
  body div.post .user_name {
    margin-top: 40px;
  }
}

@media (max-width: 670px) {
  /* line 131, app/assets/stylesheets/bundesu_index.scss */
  body {
    min-height: 100vh;
    position: relative;
  }
  /* line 135, app/assets/stylesheets/bundesu_index.scss */
  body .bundesu_post_page {
    font-size: 14px;
  }
  /* line 138, app/assets/stylesheets/bundesu_index.scss */
  body .bundesu_post_page .new {
    margin-left: 15px;
  }
  /* line 143, app/assets/stylesheets/bundesu_index.scss */
  body div.post {
    background-color: #f7f7f8;
    width: 670px;
  }
  /* line 147, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.title {
    margin-top: 60px;
  }
  /* line 150, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.title p.title {
    border-top: double 1px black;
    margin-top: 20px;
    font-size: 20px;
  }
  /* line 156, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.title section.title {
    margin-top: 20px;
    font-size: 15px;
  }
  /* line 162, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.comments {
    margin-top: 20px;
  }
  /* line 165, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.comments p.comments {
    margin-top: 20px;
    font-size: 20px;
  }
  /* line 170, app/assets/stylesheets/bundesu_index.scss */
  body div.post div.comments section.comments {
    margin-top: 20px;
    font-size: 15px;
  }
  /* line 176, app/assets/stylesheets/bundesu_index.scss */
  body div.post .image {
    margin-top: 30px;
  }
  /* line 179, app/assets/stylesheets/bundesu_index.scss */
  body div.post .image section.image img {
    width: 250px;
    height: 200px;
  }
  /* line 185, app/assets/stylesheets/bundesu_index.scss */
  body div.post .user_name {
    margin-top: 40px;
  }
}
