body {
  min-height: 100vh;
  position: relative;

  .users {
    width: 100%;
    list-style: none;

    section.users {
      padding: 5px;
      border-bottom: 1px solid black;
    }
  }

  .paginate {
    text-align: left;
    padding-bottom: 35px;
  }
}

@media (max-width: 1000px) {
  .users {
    width: 120%;
    list-style: none;

    section.users {
      padding: 5px;
      border-bottom: 1px solid black;
    }
  }

  .paginate {
    text-align: left;
    padding-bottom: 35px;
  }
}

@media (max-width: 670px) {
  .users {
    width: 100%;
    list-style: none;

    section.users {
      padding: 5px;
      border-bottom: 1px solid black;
    }
  }

  .paginate {
    text-align: left;
    padding-bottom: 35px;
  }
}